h1#head1 {
    color: #5a0b08;
}
h1#head1 {
    text-align: center;
}

body.fondo {
    background-color: #f5e3cd;
}

a.texto1 {
    font-size: x-large;
}

img.size1 {
    height: 200px;
    width: 200px;
}

div.texto2 {
    font-size: x-large;
    text-align: center
    
}

img.size2 {
    height: 200px;
    width: 200px;
    text-align: center
}

a.colortexto {
    color: #9f5b55;
}

img.size3 {
    height: 200px;
    width: 200px;
}

div.texto3 {
    font-size: x-large;
    text-align: right;
}

a.colortexto2 {
    color: #9f5b55 ;
}
